<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.subm1moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".NotifSettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainHomeActivity"
            android:theme="@style/Theme.MovieCatalogTheme" />

        <receiver android:name=".widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainHomeActivity"
            android:theme="@style/Theme.MovieCatalogTheme" />
        <activity
            android:name=".FavoritesActivity"
            android:theme="@style/Theme.MovieCatalogTheme" />
        <activity
            android:name=".MainHomeActivity"
            android:label="@string/title_activity_main_home"
            android:theme="@style/Theme.MovieCatalogTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MainHomeActivity"
            android:theme="@style/Theme.MovieCatalogTheme.TransparentActionBar" /> <!-- =================================widget================================================ -->

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> <!-- Firebase Messaging ======================================================= -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryNight" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="true" />

        <provider
            android:name=".databases.MovieContentProvider"
            android:authorities="com.example.subm1moviecatalogue.provider"
            android:exported="true"
            android:permission="com.example.subm1moviecatalogue.provider.READ_WRITE" />
        <provider
            android:name=".databases.SeriesContentProvider"
            android:authorities="com.example.subm1seriescatalogue.provider"
            android:exported="true"
            android:permission="com.example.subm1seriescatalogue.provider.READ_WRITE" />

    </application>

</manifest>